[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target
fter=mysqld.service
#After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
Type=simple
User=gitea
Group=gitea
WorkingDirectory=/var/lib/gitea
EnvironmentFile=-/etc/sysconfig/gitea
ExecStart=/usr/bin/gitea web --config /etc/gitea/app.ini
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
